{% extends 'accounts/lk_base.html' %}
{% block title %}Настройки профиля{% endblock %}

{% block lk_content %}
<div class="card shadow-sm">
    <div class="card-header bg-white">
        <h5 class="mb-0">Настройки профиля</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" value="{{ user.email }}" disabled>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Телефон</label>
                    <input type="text" name="phone" class="form-control" value="{{ user.phone }}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label class="form-label">Фамилия</label>
                    <input type="text" name="last_name" class="form-control" value="{{ user.last_name }}">
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Имя</label>
                    <input type="text" name="first_name" class="form-control" value="{{ user.first_name }}">
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Отчество</label>
                    <input type="text" name="patronymic" class="form-control" value="{{ user.patronymic }}">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        </form>
    </div>
</div>
{% endblock %}